
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.6rem;
}.frame-51-kac {
  padding: 13.1rem 7.5rem 18.1rem 7.5rem;
  width: 100%;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .property-1default-gUG {
    box-sizing: border-box;
    border-radius: 0.8rem;
    flex-shrink: 0;
    height: 4.9rem;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    border: solid 0.05rem #000000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 100%;
    font-weight: 600;
    line-height: 1.7999999523;
    font-size: 1.6rem;
    font-family: Montserrat, 'Source Sans Pro';
    align-items: center;
    margin-bottom: 14.2rem;
    color: #000000;
    justify-content: center;
  }
  .property-1variant2-XUt {
    flex-shrink: 0;
    color: #d19067;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 4.9rem;
    font-weight: 600;
    box-shadow: 0 4.8rem 6.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.7999999523;
    font-family: Montserrat, 'Source Sans Pro';
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    border: solid 0.1rem #d19067;
    border-radius: 0.8rem;
  }
}
