
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 12.3rem;
}.frame-13-3Qk {
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  border: dashed 0.1rem #9747ff;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

  .property-1default-avU {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 2rem;
    padding-bottom: 0.15rem;
    cursor: pointer;
    position: relative;

    .item--Wp8 {
      flex-shrink: 0;
      margin-bottom: 0.05rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #d19067;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-1-1Vz {
      width: 3.1rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .property-1variant2-kiU {
    padding-bottom: 0.15rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .item--WBr {
      line-height: 1.2175;
      color: #d19067;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.05rem;
      font-size: 1rem;
      font-weight: 500;
    }
    .line-1-QY8 {
      flex-shrink: 0;
      width: 3.1rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
