
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 12.2rem;
}.frame-79-kW4 {
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 2rem 1.5rem 1.6rem 2rem;
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0.5rem;

  .property-1default-gPi {
    flex-shrink: 0;
    cursor: pointer;
    line-height: 1.2175;
    color: #ffffff;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    background-color: #d19067;
    border-radius: 1.2rem;
    box-shadow: 0 0.4rem 1rem rgba(209, 144, 103, 0.5);
    margin-bottom: 1.6rem;
    height: 3.2rem;
    font-family: Montserrat, 'Source Sans Pro';
    display: flex;
  }
  .property-1variant2-7V2 {
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-family: Montserrat, 'Source Sans Pro';
    background-color: #d19067;
    position: relative;
    font-weight: 600;
    border-radius: 1.2rem;
    flex-shrink: 0;
    line-height: 1.2175;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(209, 144, 103, 0.25);
    height: 3.2rem;
    display: flex;
  }
}
