
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.4rem;
}.frame-10-7Lt {
  overflow: hidden;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .property-1default-FCC {
    flex-shrink: 0;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    border-radius: 1.2rem;
    display: flex;
    background-position: 0 0;
    background-image: url('REPLACE_IMAGE:a4899975ce7a8aa23ad85ac1458c6d9bba9caa32');
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 0rem 0rem 2.4rem 2.4rem;
    height: 35.2rem;
    box-shadow: inset 0 -4.8rem 1.6rem rgba(0, 0, 0, 0.1599999964));
    width: 100%;
    position: relative;
    align-items: center;
    background-size: 144.262% 100%;

    .auto-group-spap-7VJ {
      box-sizing: border-box;
      height: 7.2rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      border-radius: 3.6rem;
      flex-shrink: 0;
      margin-left: 18.4rem;
      width: 7.2rem;
      padding: 3.7rem 2.1rem 3.5rem 1.9rem;

      .arrow-4-cgx {
        width: 3.2rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .al-barsha-vSk {
      flex-shrink: 0;
      margin: 0rem 13.6rem 0.4rem 0rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .villa-on-jvs-180-square-4-rooms-31a {
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.6rem;
      max-width: 14.4rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .property-1default-FCC-bg {
      width: 24.4rem;
      height: 35.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:a4899975ce7a8aa23ad85ac1458c6d9bba9caa32');
    }
  }
  .property-1variant2-2u6 {
    background-image: url('REPLACE_IMAGE:a4899975ce7a8aa23ad85ac1458c6d9bba9caa32');
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-size: 144.262% 100%;
    background-position: 0 0;
    padding: 0rem 0rem 2.4rem 2.4rem;
    height: 35.2rem;
    border-radius: 1.2rem;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: inset 0 -4.8rem 1.6rem rgba(0, 0, 0, 0.1599999964));

    .auto-group-uh1j-wWG {
      margin-left: 15.6rem;
      box-sizing: border-box;
      padding: 6.2rem 1.8rem 3.8rem 1.8rem;
      width: 10rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      border-radius: 5rem;
      flex-shrink: 0;

      .arrow-4-rdE {
        vertical-align: top;
        width: 3.2rem;
        height: 0;
        object-fit: contain;
      }
    }
    .al-barsha-xwA {
      margin: 0rem 13.6rem 0.4rem 0rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .villa-on-jvs-180-square-4-rooms-tK2 {
      margin-right: 7.6rem;
      max-width: 14.4rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .property-1variant2-2u6-bg {
      height: 35.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:a4899975ce7a8aa23ad85ac1458c6d9bba9caa32');
      width: 24.4rem;
    }
  }
}
