
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 16rem;
}.frame-35-Hhi {
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;

  .property-1default-2vC {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:49:7373');
    flex-shrink: 0;
    padding: 0.103rem 0.087rem 0.104rem 0.087rem;
    width: 100%;
    height: 12rem;
    background-size: cover;
    margin-bottom: 2rem;
    box-sizing: border-box;
    cursor: pointer;

    .linked-path-group-YNk {
      position: relative;
      width: 11.4741rem;
      height: 100%;

      .linked-ellipse-4-eRn {
        border-radius: 4.6rem;
        width: 9.2rem;
        height: 9.2rem;
        position: absolute;
        left: 1.3126rem;
        top: 1.2972rem;
        background-color: #ffffff;
      }
      .copy--AQ8 {
        width: 0.7rem;
        height: 1rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        top: 5.7701rem;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        left: 10.7741rem;
        display: flex;
        font-size: 0.8rem;
      }
      .copy--Png {
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        top: 6.6484rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        left: 10.5972rem;
        font-size: 0.8rem;
        color: #ffffff;
        white-space: nowrap;
        width: 0.7rem;
        position: absolute;
        height: 1rem;
      }
      .copy--EoJ {
        height: 1rem;
        left: 10.2975rem;
        display: flex;
        width: 0.7rem;
        position: absolute;
        font-weight: 500;
        line-height: 1.2175;
        white-space: nowrap;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        top: 7.4841rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
      }
      .copy--hRz {
        font-family: Montserrat, 'Source Sans Pro';
        text-transform: uppercase;
        color: #ffffff;
        font-size: 0.8rem;
        height: 1rem;
        top: 8.133rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        display: flex;
        font-weight: 500;
        left: 9.9858rem;
        white-space: nowrap;
        width: 0.6rem;
        position: absolute;
      }
      .copy--ZDJ {
        width: 0.7rem;
        height: 1rem;
        display: flex;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        left: 9.4922rem;
        top: 8.8058rem;
        font-weight: 500;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        font-size: 0.8rem;
      }
      .copy--DHr {
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        width: 0.7rem;
        height: 1rem;
        top: 9.406rem;
        display: flex;
        position: absolute;
        font-weight: 500;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        left: 8.9736rem;
        line-height: 1.2175;
        white-space: nowrap;
      }
      .copy--H2p {
        top: 9.9124rem;
        font-size: 0.8rem;
        color: #ffffff;
        height: 1rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        width: 0.7rem;
        position: absolute;
        left: 8.3099rem;
        display: flex;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--jfW {
        height: 1rem;
        top: 10.3103rem;
        color: #ffffff;
        white-space: nowrap;
        width: 0.6rem;
        position: absolute;
        left: 7.6745rem;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 0.8rem;
        line-height: 1.2175;
      }
      .copy--BnQ {
        top: 10.5479rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        position: absolute;
        line-height: 1.2175;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.6rem;
        height: 1rem;
        left: 7.1012rem;
        display: flex;
        font-weight: 500;
        color: #ffffff;
      }
      .copy--eR6 {
        display: flex;
        text-transform: uppercase;
        color: #ffffff;
        position: absolute;
        left: 5.1076rem;
        white-space: nowrap;
        height: 1rem;
        font-family: Montserrat, 'Source Sans Pro';
        letter-spacing: 0.056rem;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.2175;
        width: 0.7rem;
        top: 10.7818rem;
      }
      .copy--ubv {
        height: 1rem;
        top: 10.6441rem;
        color: #ffffff;
        font-weight: 500;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        width: 0.7rem;
        position: absolute;
        font-size: 0.8rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        left: 4.1694rem;
        display: flex;
      }
      .copy--ZwN {
        left: 3.2823rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #ffffff;
        width: 0.7rem;
        height: 1rem;
        position: absolute;
        white-space: nowrap;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        font-weight: 500;
        top: 10.3681rem;
      }
      .copy--pcQ {
        width: 0.6rem;
        height: 1rem;
        top: 10.0418rem;
        display: flex;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        left: 2.6401rem;
        color: #ffffff;
        white-space: nowrap;
        position: absolute;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        line-height: 1.2175;
        text-transform: uppercase;
      }
      .copy--tcG {
        font-weight: 500;
        color: #ffffff;
        position: absolute;
        line-height: 1.2175;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.7rem;
        top: 9.5664rem;
        font-size: 0.8rem;
        height: 1rem;
        left: 1.8902rem;
        display: flex;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--A3z {
        height: 1rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.2175;
        top: 8.9998rem;
        letter-spacing: 0.056rem;
        width: 0.7rem;
        position: absolute;
        left: 1.3159rem;
        color: #ffffff;
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      .copy--peL {
        height: 1rem;
        left: 0.7769rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        width: 0.7rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        position: absolute;
        white-space: nowrap;
        display: flex;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        top: 8.3449rem;
      }
      .copy--HXv {
        left: 0.412rem;
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        line-height: 1.2175;
        width: 0.6rem;
        height: 1rem;
        top: 7.6241rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
      }
      .copy--Yik {
        left: 0.1891rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.2175;
        white-space: nowrap;
        height: 1rem;
        font-size: 0.8rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.6rem;
        top: 7.0055rem;
        letter-spacing: 0.056rem;
        position: absolute;
        display: flex;
      }
      .copy--1cL {
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        position: absolute;
        top: 4.9632rem;
        display: flex;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.7rem;
        left: 0;
        height: 1rem;
        line-height: 1.2175;
      }
      .copy--gTa {
        width: 0.7rem;
        position: absolute;
        font-weight: 500;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        height: 1rem;
        top: 4.1128rem;
        font-family: Montserrat, 'Source Sans Pro';
        left: 0.0946rem;
        font-size: 0.8rem;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
      }
      .copy--M3v {
        color: #ffffff;
        width: 0.7rem;
        display: flex;
        line-height: 1.2175;
        position: absolute;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        top: 3.2823rem;
        white-space: nowrap;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        left: 0.3447rem;
        font-size: 0.8rem;
      }
      .copy--1uA {
        position: absolute;
        left: 0.6887rem;
        top: 2.6333rem;
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
        width: 0.6rem;
        line-height: 1.2175;
        white-space: nowrap;
        height: 1rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--4cY {
        width: 0.7rem;
        top: 1.9538rem;
        font-weight: 500;
        display: flex;
        line-height: 1.2175;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        left: 1.144rem;
        height: 1rem;
        position: absolute;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .copy--jCt {
        display: flex;
        font-size: 0.8rem;
        color: #ffffff;
        white-space: nowrap;
        width: 0.7rem;
        height: 1rem;
        font-weight: 500;
        left: 1.7736rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        position: absolute;
        top: 1.3575rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--C6U {
        height: 1rem;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 0.8rem;
        position: absolute;
        left: 2.3987rem;
        width: 0.7rem;
        top: 0.8728rem;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
      }
      .copy--qv8 {
        color: #ffffff;
        top: 0.4745rem;
        text-transform: uppercase;
        letter-spacing: 0.056rem;
        width: 0.6rem;
        position: absolute;
        height: 1rem;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        left: 3.2107rem;
        display: flex;
      }
      .copy--WWU {
        line-height: 1.2175;
        width: 0.6rem;
        height: 1rem;
        position: absolute;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        top: 0.2384rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        left: 3.8778rem;
        display: flex;
        letter-spacing: 0.056rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .copy--B6p {
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        left: 5.9676rem;
        top: 0.0154rem;
        font-weight: 500;
        white-space: nowrap;
        width: 0.7rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        height: 1rem;
        position: absolute;
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      .copy--eFJ {
        width: 0.7rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        position: absolute;
        left: 6.7733rem;
        line-height: 1.2175;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 500;
        height: 1rem;
        top: 0.1613rem;
        display: flex;
        font-size: 0.8rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--6sz {
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        left: 7.5481rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        top: 0.4452rem;
        height: 1rem;
        position: absolute;
        display: flex;
        width: 0.7rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 500;
      }
      .copy--mUL {
        left: 8.17rem;
        top: 0.7638rem;
        display: flex;
        height: 1rem;
        position: absolute;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.6rem;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--DbE {
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        height: 1rem;
        left: 8.7774rem;
        top: 1.2474rem;
        text-transform: uppercase;
        width: 0.7rem;
        position: absolute;
        white-space: nowrap;
        display: flex;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--svg {
        position: absolute;
        width: 0.7rem;
        left: 9.3892rem;
        top: 1.8266rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        display: flex;
        font-size: 0.8rem;
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
      }
      .copy--8rc {
        white-space: nowrap;
        height: 1rem;
        top: 2.4919rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        left: 9.8555rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        width: 0.7rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        display: flex;
      }
      .copy--bkC {
        top: 3.1973rem;
        font-weight: 500;
        color: #ffffff;
        position: absolute;
        left: 10.2662rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.6rem;
        font-size: 0.8rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        display: flex;
      }
      .copy--fVA {
        height: 1rem;
        top: 3.8218rem;
        font-size: 0.8rem;
        font-weight: 500;
        width: 0.6rem;
        position: absolute;
        left: 10.5129rem;
        display: flex;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .arrow-3-vfz {
        position: absolute;
        left: 4.3126rem;
        top: 5.8972rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.2rem;
        height: 0;
      }
    }
  }
  .property-1variant2-SeL {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:49:7430');
    box-sizing: border-box;
    padding: 0.103rem 0.088rem 0.113rem 0.088rem;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;

    .linked-path-group-y8U {
      width: 11.4641rem;
      height: 100%;
      position: relative;

      .linked-ellipse-4-g2t {
        width: 9.2rem;
        height: 9.2rem;
        position: absolute;
        left: 1.3125rem;
        top: 1.2972rem;
        background-color: #ffffff;
        border-radius: 4.6rem;
      }
      .copy--Phz {
        height: 1rem;
        top: 10.7841rem;
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        font-size: 0.8rem;
        width: 0.7rem;
        letter-spacing: 0.056rem;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        left: 5.1521rem;
        display: flex;
      }
      .copy--43S {
        width: 0.7rem;
        height: 1rem;
        white-space: nowrap;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        left: 4.2017rem;
        top: 10.651rem;
        text-transform: uppercase;
      }
      .copy--JiU {
        left: 3.3097rem;
        display: flex;
        font-size: 0.8rem;
        line-height: 1.2175;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        height: 1rem;
        font-weight: 500;
        color: #ffffff;
        width: 0.7rem;
        white-space: nowrap;
        letter-spacing: 0.056rem;
        top: 10.3785rem;
      }
      .copy--NTS {
        height: 1rem;
        top: 10.0535rem;
        font-weight: 500;
        line-height: 1.2175;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.6rem;
        left: 2.6621rem;
        font-size: 0.8rem;
        display: flex;
        letter-spacing: 0.056rem;
        color: #ffffff;
        position: absolute;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--3Jg {
        height: 1rem;
        left: 1.9155rem;
        top: 9.5852rem;
        position: absolute;
        display: flex;
        white-space: nowrap;
        width: 0.7rem;
        font-weight: 500;
        line-height: 1.2175;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
      }
      .copy--JkQ {
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        display: flex;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        left: 1.3307rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        top: 9.0147rem;
        color: #ffffff;
        white-space: nowrap;
        width: 0.7rem;
        position: absolute;
      }
      .copy--aC8 {
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        left: 0.7874rem;
        top: 8.3599rem;
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
        width: 0.7rem;
        height: 1rem;
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
      }
      .copy--dRJ {
        display: flex;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        height: 1rem;
        position: absolute;
        left: 0.4198rem;
        font-size: 0.8rem;
        font-family: Montserrat, 'Source Sans Pro';
        top: 7.6402rem;
        font-weight: 500;
        line-height: 1.2175;
        text-transform: uppercase;
        width: 0.6rem;
        color: #ffffff;
      }
      .copy--GDN {
        display: flex;
        text-transform: uppercase;
        width: 0.6rem;
        height: 1rem;
        left: 0.1945rem;
        font-size: 0.8rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        top: 7.0226rem;
        color: #ffffff;
        position: absolute;
        font-weight: 500;
      }
      .copy--KhS {
        height: 1rem;
        left: 0;
        display: flex;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.7rem;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        top: 4.9833rem;
        line-height: 1.2175;
      }
      .copy--BzY {
        font-size: 0.8rem;
        white-space: nowrap;
        position: absolute;
        left: 0.0954rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
        top: 4.1151rem;
        font-weight: 500;
        width: 0.7rem;
        display: flex;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        line-height: 1.2175;
      }
      .copy--edE {
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.7rem;
        height: 1rem;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 0.8rem;
        font-weight: 500;
        color: #ffffff;
        left: 0.3447rem;
        top: 3.284rem;
        display: flex;
        position: absolute;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
      }
      .copy--WvL {
        display: flex;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 500;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        width: 0.6rem;
        height: 1rem;
        position: absolute;
        font-size: 0.8rem;
        line-height: 1.2175;
        white-space: nowrap;
        left: 0.6848rem;
        top: 2.6403rem;
        color: #ffffff;
      }
      .copy--BWg {
        width: 0.7rem;
        line-height: 1.2175;
        text-transform: uppercase;
        white-space: nowrap;
        left: 1.1353rem;
        top: 1.9643rem;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.056rem;
        position: absolute;
        font-size: 0.8rem;
        color: #ffffff;
      }
      .copy--FFe {
        height: 1rem;
        position: absolute;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        width: 0.7rem;
        font-weight: 500;
        top: 1.3739rem;
        text-transform: uppercase;
        color: #ffffff;
        left: 1.754rem;
        font-size: 0.8rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .copy--WhN {
        height: 1rem;
        top: 0.8713rem;
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
        width: 0.7rem;
        left: 2.4002rem;
        font-size: 0.8rem;
        white-space: nowrap;
        position: absolute;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--mdJ {
        color: #ffffff;
        height: 1rem;
        top: 0.4759rem;
        font-weight: 500;
        font-size: 0.8rem;
        position: absolute;
        left: 3.2057rem;
        display: flex;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.6rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        white-space: nowrap;
      }
      .copy--F2g {
        left: 3.8688rem;
        display: flex;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.056rem;
        color: #ffffff;
        white-space: nowrap;
        width: 0.6rem;
        font-size: 0.8rem;
        height: 1rem;
        position: absolute;
        top: 0.2404rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--usv {
        top: 0.0136rem;
        font-size: 0.8rem;
        position: absolute;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        height: 1rem;
        left: 5.9536rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        width: 0.7rem;
        color: #ffffff;
        font-weight: 500;
      }
      .copy--ZxU {
        font-weight: 500;
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
        position: absolute;
        font-size: 0.8rem;
        text-transform: uppercase;
        height: 1rem;
        display: flex;
        left: 6.7343rem;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.7rem;
        top: 0.1501rem;
      }
      .copy--2r4 {
        position: absolute;
        display: flex;
        line-height: 1.2175;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.056rem;
        color: #ffffff;
        white-space: nowrap;
        font-size: 0.8rem;
        font-family: Montserrat, 'Source Sans Pro';
        width: 0.7rem;
        height: 1rem;
        left: 7.5091rem;
        top: 0.4266rem;
      }
      .copy--tNU {
        display: flex;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.6rem;
        position: absolute;
        left: 8.1597rem;
        color: #ffffff;
        top: 0.7563rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        height: 1rem;
        line-height: 1.2175;
        text-transform: uppercase;
      }
      .copy--MG4 {
        text-transform: uppercase;
        height: 1rem;
        font-weight: 500;
        letter-spacing: 0.056rem;
        display: flex;
        line-height: 1.2175;
        width: 0.7rem;
        position: absolute;
        left: 8.7657rem;
        font-family: Montserrat, 'Source Sans Pro';
        top: 1.2364rem;
        font-size: 0.8rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .copy--gxY {
        width: 0.7rem;
        height: 1rem;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.056rem;
        left: 9.3781rem;
        display: flex;
        font-family: Montserrat, 'Source Sans Pro';
        top: 1.8128rem;
        text-transform: uppercase;
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
      }
      .copy--wtU {
        display: flex;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        left: 9.8271rem;
        top: 2.447rem;
        width: 0.7rem;
        position: absolute;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 0.8rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
      }
      .copy--QGG {
        display: flex;
        line-height: 1.2175;
        width: 0.6rem;
        left: 10.2562rem;
        text-transform: uppercase;
        white-space: nowrap;
        height: 1rem;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        position: absolute;
        top: 3.1739rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        color: #ffffff;
      }
      .copy--GZN {
        line-height: 1.2175;
        top: 3.7962rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        left: 10.5051rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.6rem;
        position: absolute;
        display: flex;
        letter-spacing: 0.056rem;
      }
      .copy--Y16 {
        width: 0.7rem;
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
        height: 1rem;
        position: absolute;
        left: 10.7641rem;
        display: flex;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        top: 5.8469rem;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 500;
        text-transform: uppercase;
      }
      .copy--PXW {
        display: flex;
        height: 1rem;
        left: 10.5758rem;
        top: 6.7236rem;
        width: 0.7rem;
        font-family: Montserrat, 'Source Sans Pro';
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        position: absolute;
        font-weight: 500;
        line-height: 1.2175;
        font-size: 0.8rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .copy--Fpc {
        display: flex;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        left: 10.2662rem;
        color: #ffffff;
        line-height: 1.2175;
        height: 1rem;
        top: 7.5534rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        white-space: nowrap;
        width: 0.7rem;
        position: absolute;
      }
      .copy--XXE {
        width: 0.6rem;
        font-size: 0.8rem;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
        height: 1rem;
        line-height: 1.2175;
        white-space: nowrap;
        left: 9.9628rem;
        top: 8.1722rem;
        text-transform: uppercase;
        position: absolute;
        display: flex;
        font-weight: 500;
        color: #ffffff;
      }
      .copy--nTA {
        position: absolute;
        top: 8.8527rem;
        font-size: 0.8rem;
        color: #ffffff;
        width: 0.7rem;
        text-transform: uppercase;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.056rem;
        height: 1rem;
        left: 9.4547rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .copy--SXi {
        text-transform: uppercase;
        width: 0.7rem;
        top: 9.4482rem;
        display: flex;
        color: #ffffff;
        white-space: nowrap;
        height: 1rem;
        position: absolute;
        left: 8.9291rem;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1.2175;
        letter-spacing: 0.056rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .copy--784 {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        height: 1rem;
        position: absolute;
        font-size: 0.8rem;
        width: 0.7rem;
        top: 9.9496rem;
        font-family: Montserrat, 'Source Sans Pro';
        left: 8.2558rem;
        display: flex;
        line-height: 1.2175;
      }
      .copy--xuN {
        font-weight: 500;
        letter-spacing: 0.056rem;
        white-space: nowrap;
        width: 0.6rem;
        position: absolute;
        font-family: Montserrat, 'Source Sans Pro';
        left: 7.635rem;
        text-transform: uppercase;
        top: 10.3296rem;
        font-size: 0.8rem;
        line-height: 1.2175;
        color: #ffffff;
        height: 1rem;
        display: flex;
      }
      .copy--dEp {
        line-height: 1.2175;
        color: #ffffff;
        white-space: nowrap;
        height: 1rem;
        display: flex;
        letter-spacing: 0.056rem;
        position: absolute;
        font-weight: 500;
        top: 10.5631rem;
        text-transform: uppercase;
        width: 0.6rem;
        left: 7.0555rem;
        font-size: 0.8rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .arrow-3-HaG {
        left: 4.3125rem;
        top: 5.8972rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.2rem;
        height: 0;
        position: absolute;
      }
    }
  }
}
