
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.4rem;
}.frame-39-E9E {
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .property-1default-NmE {
    flex-shrink: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('REPLACE_IMAGE:f093f62fc12b8f82d6d1e07c0c69b9c8e47f301c');
    box-sizing: border-box;
    padding: 0rem 0rem 2.4rem 2.4rem;
    background-position: -3.6rem 0;
    box-shadow: inset 0 -4.8rem 1.6rem rgba(0, 0, 0, 0.1599999964));
    height: 35.2rem;
    align-items: center;
    background-size: 144.262% 100%;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
    width: 100%;

    .auto-group-fimw-Grc {
      box-sizing: border-box;
      width: 7.2rem;
      border-radius: 3.6rem;
      margin-left: 18.4rem;
      padding: 3.5rem 1.3rem 3.7rem 1.3rem;
      height: 7.2rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      flex-shrink: 0;

      .arrow-4-z1v {
        width: 3.2rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .jv-villa-64x {
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 14.8rem 0.4rem 0rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2175;
    }
    .villa-on-jvs-180-square-4-rooms-oEG {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 7.6rem;
      max-width: 14.4rem;
    }
    .property-1default-NmE-bg {
      height: 35.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:f093f62fc12b8f82d6d1e07c0c69b9c8e47f301c');
      width: 24.4rem;
    }
  }
  .property-1variant2-otU {
    height: 35.2rem;
    position: relative;
    background-size: 144.262% 100%;
    background-position: -3.6rem 0;
    flex-shrink: 0;
    padding: 0rem 0rem 2.4rem 2.4rem;
    flex-direction: column;
    background-image: url('REPLACE_IMAGE:f093f62fc12b8f82d6d1e07c0c69b9c8e47f301c');
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: flex;
    box-shadow: inset 0 -4.8rem 1.6rem rgba(0, 0, 0, 0.1599999964));
    border-radius: 1.2rem;
    box-sizing: border-box;

    .auto-group-ucxg-Kbv {
      box-sizing: border-box;
      padding: 6.2rem 1.8rem 3.8rem 1.8rem;
      width: 10rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      border-radius: 5rem;
      flex-shrink: 0;
      margin-left: 15.6rem;

      .arrow-4-dsW {
        width: 3.2rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .jv-villa-MHi {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 14.8rem 0.4rem 0rem;
    }
    .villa-on-jvs-180-square-4-rooms-UNL {
      margin-right: 7.6rem;
      max-width: 14.4rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .property-1variant2-otU-bg {
      width: 24.4rem;
      height: 35.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:f093f62fc12b8f82d6d1e07c0c69b9c8e47f301c');
    }
  }
}
