
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6rem;
}.telegram-8YY {
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  display: flex;

  .property-1default-HRS {
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 2rem;
    height: 1.8rem;
    cursor: pointer;
    object-fit: contain;
  }
  .property-1variant2-dEQ {
    width: 2rem;
    height: 1.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
}
