
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mdm-catalog-6r4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW {
  box-sizing: border-box;
  padding-top: 6.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.200000003);
  background-size: 100% 229.299%;
  background-position: 0 -24rem;
  background-image: url('../assets/missteikbeautifulmoderndesignervillaindubaiphotofromaaf44bb55-ccc6-4acc-9d92-04dd08d375cf-1-bg-trL.png');
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 {
  box-sizing: border-box;
  padding: 1.2rem 16rem 1.1rem 16rem;
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-38-rCx {
  margin: 0.1rem 59.2rem 0.1rem 0rem;
  width: 6.6rem;
  height: calc(100% - 0.2rem);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-38-rCx .frame-37-9xk {
  width: 6.6rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 2.5rem;
  overflow: hidden;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-38-rCx .mdm-Dxc {
  width: 6.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2175;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-7-5V2 {
  margin: 1rem 5.6rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-7-5V2 .item--byA {
  margin-right: 5.4rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-7-5V2 .item--7Ap {
  margin-right: 5.7rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-7-5V2 .item--EFS {
  margin-right: 5.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-7-5V2 .item--NMe {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .head-ju2 .frame-33-jAG .frame-79-uMa {
  width: 8.7rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 1rem rgba(209, 144, 103, 0.5);
  background-color: #d19067;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 {
  box-sizing: border-box;
  padding: 12.1rem 16rem 5.6rem 16rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-gr7v-GrL {
  margin-bottom: 3.2rem;
  width: 52.5rem;
  height: 10.1rem;
  position: relative;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-gr7v-GrL .item--RDS {
  width: 27.5rem;
  height: 5.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-gr7v-GrL .item--76G {
  width: 52.5rem;
  height: 5.9rem;
  position: absolute;
  left: 0;
  top: 4.2rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .frame-59-Bbv {
  margin: 0rem 92.6rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.8rem 6.3rem;
  width: calc(100% - 92.6rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .frame-59-Bbv .dubai-Hur {
  margin-right: 3.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .frame-59-Bbv .vector-4-qAg {
  margin-top: 0.3rem;
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .frame-53-7P6 {
  margin-bottom: 6.1rem;
  width: 13.5rem;
  height: 3.9rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d19067;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-karc-zSt {
  margin-left: 103.2rem;
  width: calc(100% - 103.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-karc-zSt .frame-63-vLY {
  margin-right: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-o6ux-wp4 .auto-group-karc-zSt .frame-62-TrG {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-pwiy-cZW .auto-group-pwiy-cZW-bg {
  width: 144rem;
  height: 62.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:8e44ae8e56d819b10c73a12ada0f796f6d02c73e');
}
.mdm-catalog-6r4 .auto-group-we8x-uTN {
  box-sizing: border-box;
  padding: 6.4rem 0rem 4.8rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW {
  margin: 0rem 15.9rem 4.4rem 16rem;
  width: calc(100% - 31.9rem);
  height: 42.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 34.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.0399999991);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .item--T7W {
  margin: 0rem 12.3rem 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-64-j52 {
  margin-bottom: 2.35rem;
  box-sizing: border-box;
  padding: 0rem 1.2rem 0rem 0.8rem;
  width: 100%;
  height: 2.45rem;
  border-bottom: solid 0.05rem #d19067;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-64-j52 .auto-group-ikpt-ehn {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-64-j52 .auto-group-ikpt-ehn .jvc-al-marina-QS4 {
  margin-right: 14.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-64-j52 .auto-group-ikpt-ehn .vector-4-jjE {
  margin-top: 0.4rem;
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .item--FBn {
  margin: 0rem 10.8rem 1.1rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-65-j6x {
  margin-bottom: 2.35rem;
  box-sizing: border-box;
  padding: 0rem 1.2rem 0rem 0.8rem;
  width: 100%;
  height: 2.45rem;
  border-bottom: solid 0.05rem #d19067;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-65-j6x .auto-group-3rsv-49E {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-65-j6x .auto-group-3rsv-49E .item-2-1aG {
  margin-right: 25.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-65-j6x .auto-group-3rsv-49E .vector-4-wyi {
  margin-top: 0.4rem;
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .item--gAc {
  margin: 0rem 3.3rem 1.1rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-66-wcL {
  margin-bottom: 2.35rem;
  box-sizing: border-box;
  padding: 0rem 1.2rem 0rem 0.8rem;
  width: 100%;
  height: 2.45rem;
  border-bottom: solid 0.05rem #d19067;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-66-wcL .auto-group-nxvx-skt {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-66-wcL .auto-group-nxvx-skt .item-1-SSc {
  margin-right: 25.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-66-wcL .auto-group-nxvx-skt .vector-4-aHv {
  margin-top: 0.4rem;
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .item--Hy2 {
  margin: 0rem 8.6rem 1.1rem 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-67-ahE {
  margin-bottom: 3.15rem;
  box-sizing: border-box;
  padding: 0rem 1.2rem 0rem 0.8rem;
  width: 100%;
  height: 2.45rem;
  border-bottom: solid 0.05rem #d19067;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-67-ahE .auto-group-9eqn-7BN {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-67-ahE .auto-group-9eqn-7BN .item-1-4cQ {
  margin-right: 25.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-67-ahE .auto-group-9eqn-7BN .vector-4-Pua {
  margin-top: 0.4rem;
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .frame-69-jBW .frame-68-WzC {
  width: 100%;
  height: 4.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d19067;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC {
  box-sizing: border-box;
  padding-left: 4.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 34.2rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-cA4 {
  margin-bottom: 1.6rem;
  width: 34.2rem;
  height: 25.2rem;
  position: relative;
  background-size: 100% 135.714%;
  background-position: 0rem -4.1045rem;
  background-image: url('../assets/missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-szG.png');
  border-radius: 0.8rem 0.8rem 0 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .item-18--EBS {
  margin: 0rem 0rem 1.7rem 2.4rem;
  max-width: 29.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .aed-910000-dDa {
  margin: 0rem 0rem 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv {
  margin: 0rem 2.5rem 0rem 2.4rem;
  width: calc(100% - 4.9rem);
  height: 3.2rem;
  display: flex;
  column-gap: 1.75rem;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-70-FVr {
  width: 7.45rem;
  height: 100%;
  border-right: solid 0.05rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-70-FVr .auto-group-jq76-Qde {
  box-sizing: border-box;
  padding: 0.3rem 1.8rem 0.2rem 0rem;
  width: 7.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-70-FVr .auto-group-jq76-Qde .vector-5-XyA {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-70-FVr .auto-group-jq76-Qde .item-1-g5N {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-71-aAk {
  box-sizing: border-box;
  padding-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: solid 0.05rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-71-aAk .vector-6-ink {
  margin-right: 1.8rem;
  width: 2.9rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-71-aAk .item-1-4rc {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-72-NMW {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-72-NMW .rectangle-13-LJL {
  margin-right: 1.8rem;
  width: 2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-74-Grt .frame-73-9Bv .frame-72-NMW .sqft-sJG {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 34.2rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-LSk {
  margin-bottom: 1.6rem;
  width: 34.2rem;
  height: 25.2rem;
  position: relative;
  background-size: 100% 135.714%;
  background-position: 0rem -4.1045rem;
  background-image: url('../assets/missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1.png');
  border-radius: 0.8rem 0.8rem 0 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .item-18--ZqJ {
  margin: 0rem 0rem 1.7rem 2.4rem;
  max-width: 29.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .aed-910000-Bbn {
  margin: 0rem 0rem 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui {
  margin: 0rem 2.5rem 0rem 2.4rem;
  width: calc(100% - 4.9rem);
  height: 3.2rem;
  display: flex;
  column-gap: 1.75rem;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-70-QUY {
  width: 7.45rem;
  height: 100%;
  border-right: solid 0.05rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-70-QUY .auto-group-abag-ZMS {
  box-sizing: border-box;
  padding: 0.3rem 1.8rem 0.2rem 0rem;
  width: 7.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-70-QUY .auto-group-abag-ZMS .vector-5-UUQ {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-70-QUY .auto-group-abag-ZMS .item-1-RPe {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-71-7nG {
  box-sizing: border-box;
  padding-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: solid 0.05rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-71-7nG .vector-6-T5S {
  margin-right: 1.8rem;
  width: 2.9rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-71-7nG .item-1-Pzg {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-72-iGG {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-72-iGG .rectangle-13-gD6 {
  margin-right: 1.8rem;
  width: 2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-zipr-RwW .auto-group-mqnu-YAC .frame-75-Bpk .frame-73-Hui .frame-72-iGG .sqft-DTv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at {
  margin: 0rem 15.9rem 8rem 15.9rem;
  width: calc(100% - 31.8rem);
  height: 41.8rem;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 34.2rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-ahn {
  margin-bottom: 1.6rem;
  width: 34.2rem;
  height: 25.2rem;
  position: relative;
  background-size: 100% 135.714%;
  background-position: 0rem -4.1045rem;
  background-image: url('../assets/missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-ytt.png');
  border-radius: 0.8rem 0.8rem 0 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .item-18--RiQ {
  margin: 0rem 0rem 1.7rem 2.4rem;
  max-width: 29.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .aed-910000-3jn {
  margin: 0rem 0rem 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 {
  margin: 0rem 2.5rem 0rem 2.4rem;
  width: calc(100% - 4.9rem);
  height: 3.2rem;
  display: flex;
  column-gap: 1.75rem;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-70-g24 {
  width: 7.45rem;
  height: 100%;
  border-right: solid 0.05rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-70-g24 .auto-group-bhrs-2bi {
  box-sizing: border-box;
  padding: 0.3rem 1.8rem 0.2rem 0rem;
  width: 7.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-70-g24 .auto-group-bhrs-2bi .vector-5-Z5r {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-70-g24 .auto-group-bhrs-2bi .item-1-6Lg {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-71-nzC {
  box-sizing: border-box;
  padding-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: solid 0.05rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-71-nzC .vector-6-juS {
  margin-right: 1.8rem;
  width: 2.9rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-71-nzC .item-1-Hg4 {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-72-1c4 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-72-1c4 .rectangle-13-a9N {
  margin-right: 1.8rem;
  width: 2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-76-Sba .frame-73-Zy2 .frame-72-1c4 .sqft-W32 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 34.2rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-kCG {
  margin-bottom: 1.6rem;
  width: 34.2rem;
  height: 25.2rem;
  position: relative;
  background-size: 100% 135.714%;
  background-position: 0rem -4.1045rem;
  background-image: url('../assets/missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-1oe.png');
  border-radius: 0.8rem 0.8rem 0 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .item-18--ah6 {
  margin: 0rem 0rem 1.7rem 2.4rem;
  max-width: 29.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .aed-910000-Qg8 {
  margin: 0rem 0rem 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e {
  margin: 0rem 2.5rem 0rem 2.4rem;
  width: calc(100% - 4.9rem);
  height: 3.2rem;
  display: flex;
  column-gap: 1.75rem;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-70-ro2 {
  width: 7.45rem;
  height: 100%;
  border-right: solid 0.05rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-70-ro2 .auto-group-2xgp-cnC {
  box-sizing: border-box;
  padding: 0.3rem 1.8rem 0.2rem 0rem;
  width: 7.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-70-ro2 .auto-group-2xgp-cnC .vector-5-MDz {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-70-ro2 .auto-group-2xgp-cnC .item-1-Vb6 {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-71-nKJ {
  box-sizing: border-box;
  padding-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: solid 0.05rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-71-nKJ .vector-6-jVS {
  margin-right: 1.8rem;
  width: 2.9rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-71-nKJ .item-1-53W {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-72-PK6 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-72-PK6 .rectangle-13-Lk8 {
  margin-right: 1.8rem;
  width: 2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-77-RQt .frame-73-Y1e .frame-72-PK6 .sqft-g3J {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 34.2rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-Xpc {
  margin-bottom: 1.6rem;
  width: 34.2rem;
  height: 25.2rem;
  position: relative;
  background-size: 100% 135.714%;
  background-position: 0rem -4.1045rem;
  background-image: url('../assets/missteikroomswithamoderndesignerinteriorbeigecolorisa9b2bf58b-5329-4f61-b30d-60f20de63c1f-1-pMN.png');
  border-radius: 0.8rem 0.8rem 0 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .item-18--NqE {
  margin: 0rem 0rem 1.7rem 2.4rem;
  max-width: 29.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .aed-910000-bhz {
  margin: 0rem 0rem 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE {
  margin: 0rem 2.5rem 0rem 2.4rem;
  width: calc(100% - 4.9rem);
  height: 3.2rem;
  display: flex;
  column-gap: 1.75rem;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-70-deg {
  width: 7.45rem;
  height: 100%;
  border-right: solid 0.05rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-70-deg .auto-group-9w2x-Ptk {
  box-sizing: border-box;
  padding: 0.3rem 1.8rem 0.2rem 0rem;
  width: 7.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-70-deg .auto-group-9w2x-Ptk .vector-5-vdn {
  margin-right: 1.8rem;
  width: 3.2rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-70-deg .auto-group-9w2x-Ptk .item-1-frG {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-71-Bpc {
  box-sizing: border-box;
  padding-right: 1.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: solid 0.05rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-71-Bpc .vector-6-7iG {
  margin-right: 1.8rem;
  width: 2.9rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-71-Bpc .item-1-Tn8 {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-72-P9z {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-72-P9z .rectangle-13-YYg {
  margin-right: 1.8rem;
  width: 2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-5yk6-8at .frame-78-ns2 .frame-73-7wE .frame-72-P9z .sqft-gPz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 {
  margin-right: 14.7rem;
  width: 129.3rem;
  height: 102.3rem;
  position: relative;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe {
  width: 129.3rem;
  height: 68.9rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-b26l-Gsz {
  margin-right: 3.9rem;
  width: 70.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-b26l-Gsz .image-7-pec {
  width: 69.6rem;
  height: 57.5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 181.565%;
  background-position: 0 -32.5rem;
  background-image: url('../assets/image-7.png');
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-b26l-Gsz .dubai-KrG {
  width: 14.1rem;
  height: 62.4rem;
  position: absolute;
  left: 56.4rem;
  top: 6.5rem;
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-b26l-Gsz .vector-3-SAC {
  width: 69.6rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 47.8rem;
  object-fit: contain;
  vertical-align: top;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk {
  margin-top: 4.8rem;
  width: 54.9rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-ysmr-Wfr {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 8.3rem;
  position: relative;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-ysmr-Wfr .item--fHr {
  width: 54.9rem;
  height: 5.9rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.768rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-ysmr-Wfr .item--jYc {
  width: 19.3rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  letter-spacing: 0.32rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .item--RAY {
  margin-bottom: 4.7rem;
  max-width: 53.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .item--x3z {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY {
  box-sizing: border-box;
  padding-top: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .line-5-Dkc {
  margin-bottom: 3.1rem;
  width: 53.6rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-48-Z3n {
  margin-bottom: 3.1rem;
  box-sizing: border-box;
  padding: 0 0.8rem;
  width: 53.6rem;
  height: 3.4rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-48-Z3n .auto-group-ugpz-J1N {
  width: 8.1rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-48-Z3n .auto-group-ugpz-J1N .frame-47-3Dr {
  margin: 0rem 0.8rem 0.1rem 0rem;
  width: 3.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-48-Z3n .auto-group-ugpz-J1N .item-971-ZT6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-49-gGp {
  margin-bottom: 4.7rem;
  width: 53.6rem;
  height: 3.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .svyaz-LDe .auto-group-x9rr-NJk .auto-group-hyvg-tCY .frame-51-Axg {
  width: 53.6rem;
  height: 4.9rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #f4f4f4;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY {
  box-sizing: border-box;
  padding-top: 3.7rem;
  width: 112.3rem;
  height: 36.8rem;
  position: absolute;
  left: 16rem;
  top: 65.5rem;
  border-top: solid 0.1rem #d19067;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv {
  margin: 0rem 13rem 3.5rem 0rem;
  width: 32rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr {
  margin-bottom: 0.0026rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J {
  margin: 0rem 1.523rem 2.297rem 2.347rem;
  width: calc(100% - 3.8704rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-Gnk {
  margin: 0rem 1.709rem 0.106rem 0rem;
  width: 1.8837rem;
  height: 4.5806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-1EY {
  margin: 0rem 2.136rem 0.003rem 0rem;
  width: 2.3057rem;
  height: 7.8901rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-YEU {
  margin: 0rem 2.205rem 0.083rem 0rem;
  width: 5.6177rem;
  height: 23.8692rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-GwA {
  margin: 0rem 3.163rem 0.083rem 0rem;
  width: 2.5348rem;
  height: 15.9328rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-CK2 {
  margin: 0rem 1.843rem 0.083rem 0rem;
  width: 2.9182rem;
  height: 9.5332rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .auto-group-rpnt-m5J .vector-KuS {
  width: 1.8142rem;
  height: 4.3352rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .layer1-pfr .vector-UXS {
  width: 32rem;
  height: 0.3488rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-46-Hfv .majestic-dream-mansions-2Yx {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz {
  margin-right: 14.9rem;
  width: 21.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi {
  margin-bottom: 10.9rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-24-3yr {
  margin-right: 4.5rem;
  height: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-24-3yr .item--bVa {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-24-3yr .item--KwN {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-24-3yr .item--4e4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-25-PgL {
  height: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-25-PgL .item--jkC {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-25-PgL .item--fdr {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .frame-26-6oi .frame-25-PgL .item--bnQ {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .auto-group-6vmn-ZHz .mdm-properties-vpg {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ {
  width: 30.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr {
  margin: 0rem 0.2rem 3.2rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-29-M9J {
  margin: 0rem 0.1rem 1.5rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-29-M9J .item-7-993-916-34-54-66t {
  margin-bottom: 0.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-29-M9J .item-971-551592001-zxx {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .infomdmcom-jQk {
  margin: 0rem 0.1rem 1.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #353535;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-30-fJQ {
  margin: 0rem 0.1rem 1.6rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-30-fJQ .uae-dubai-motor-city-control-tower-D52 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-30-fJQ .office-2306-Y7J {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-27-Ume {
  row-gap: 0.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-27-Ume .item-9-30-19-00-2YG {
  margin-right: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-27-Ume .item-14-00-19-00-M4k {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-31-Qjr .frame-27-Ume .c-9-30-16-00-5WY {
  margin-right: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-28-QYp {
  margin-left: 4.3rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-28-QYp .telegram-MU4 {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  letter-spacing: 0.256rem;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mdm-catalog-6r4 .auto-group-we8x-uTN .auto-group-bzys-Q56 .ochko-pGY .auto-group-sbdj-wc4 .frame-32-3uJ .frame-28-QYp .instagram-UHn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2175;
  letter-spacing: 0.256rem;
  color: #d19067;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
